.result-box{
    max-width: 1080px;
    width: 80%;
    min-width: 350px;
    max-height: 40%;
    background-color: rgba(39, 48, 54, 0.75);
    margin: 20px auto;
    text-align: center;
    border: solid 2px #ecf0f1;
    border-radius: 10px;
    overflow: hidden;
}

.result-box h1{
    text-align: center;
    border-bottom: 2px solid #ecf0f1;
    border-collapse: collapse;
    background-color: #273036;
    color: #ecf0f1;
}

#result{
    color: #ecf0f1;
    padding: 20px 0;
}