.result-table{
    max-width: 1080px;
    width: 80%;
    min-width: 350px;
    max-height: 40%;
    background-color: rgba(25, 113, 164, 0.75);
    margin: 20px auto;
    text-align: center;
    border: solid 2px #ecf0f1;
    border-radius: 10px;
    overflow: hidden;
}

.result-table table{
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.result-table td{
    text-align: center;
    padding: 7px 14px;
    background-color: #ecf0f1;
    color: #1971a4;
    border: 2px solid #1971a4;
    border-collapse: collapse;
}

.result-table h1{
    text-align: center;
    border-bottom: 2px solid #ecf0f1;
    border-collapse: collapse;
    background-color: #1971a4;
    color: #ecf0f1;
}

@media only screen and (max-width: 800px){
    #result{
        overflow: scroll;
        scrollbar-width: thin;
    }
    .result-table{
        max-height: 400px;
    }
}